// typography
$base-font-family: 'Outfit', sans-serif;
$reset-rem-size: 62.5%;
$font-size-base: 1.6rem;

// image path
$image-path: '../images';

// color
$black: #000;
$white: #fff;
$red: #ff0000;
$base-color: $black;
$green: #07E77D;
$home-bg: #04314B;
$primary-text: #04314B;
$desc: #B2B5B6;


// border radius
$border-radius: 6px;
$border-radius-btn: 52px;