.btn {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	line-height: 110%;
	letter-spacing: -0.01em;
	padding: 25px 24px;
	text-align: center;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s;
	

	@include mq(phone) {
		font-size: 18px;
		padding: 16px 18px;
	}

	&:disabled,
	&.disabled,
	&[aria-disabled='true'] {
		cursor: default;
	}

	&-primary {
		color: $black;
		background: $green;
		border-radius: 4px;
		&:hover {
			color: #fff;
			background: #04314B;

		}
	}

	&-secondary {
		color: $black;
		background: $white;
		border-radius: 4px;
		&:hover {
			color: #fff;
			background: #04314B;

		}
	}
}

.connect-btn {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	color: #fff;
	border: 1px solid #94D0A0;
	// background: linear-gradient(to right, #94D0A0, #1E6D56);
	// border-image-slice: 1;
	background: transparent;

	&:hover {
		color: $black;
		background: #28D548;
	}
}

.btn-Submit {
	width: 100%;
}