// font family
.font-family-pripmary {
  font-family: $base-font-family;
}

.title {
  &-xl {
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #FFFFFF;

    @include mq(phone) {
      font-size: 40px;
    }
  }

  &-x {
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.011em;
    color: #FFFFFF;

    @include mq(phone) {
      font-size: 30px;
    }
  }

  &-lg {
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;

    @include mq(phone) {
      font-size: 25px;
    }

  }

  &-sm {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #FFFFFF;

    @include mq(phone) {
      font-size: 16px;


    }
  }

  &-md {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #36E769;

    @include mq(phone) {
      font-size: 12px;
    }
  }
}

.text {
  &-xl {
    font-weight: 800;
    font-size: 40px;
    line-height: 135%;
    text-align: center;
    color: #1E1F21;

  }

  &-xm {
    font-weight: 700;
    font-size: 32px;
    line-height: 135%;
    color: #FFFFFF;

    @include mq(phone) {
      font-size: 20px;
    }
  }

  &-md {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: #FFFFFF;

    @include mq(phone) {
      font-size: 16px;
    }
  }
}

.heading-style-h1 {
  font-weight: 500;

  font-size: 66px;
  line-height: 110%;
  letter-spacing: 0;
}

.heading-style-h2 {
  font-weight: 600;

  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.02em;
  vertical-align: middle;
}

.heading-style-h3 {
 font-weight: 600;
font-style: SemiBold;
font-size: 48px;
line-height: 57px;
letter-spacing: 0%;
text-align: center;


}
.heading-style-h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

// Font
.font-12 {
  font-weight: 400;
  font-size: 12px;
  color: $black;
  line-height: 1.3;
}

.font-13 {
  font-weight: 400;
  font-size: 13px;
  color: $black;
  line-height: 1.3;
}

.font-14 {
  font-weight: 400;
  font-size: 14px;
  color: $white;
  line-height: 140%;
}

.font-15 {
  font-weight: 400;
  font-size: 15px;
  color: $black;
  line-height: 1.3;
}

.font-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $black;

  // @include mq(phone) {
  //   font-size: 14px;
  // }

}

.font-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $desc;

  @include mq(phone) {
    font-size: 16px;
    line-height: 22px;
  }
}

.text-color-primary {
  color: $primary-text;
}

// Font Weights
.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

// Line Heights
.line-height-12 {
  line-height: 1.2
}

.line-height-13 {
  line-height: 1.3
}

.line-height-14 {
  line-height: 1.4
}

.line-height-15 {
  line-height: 1.5
}